# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
/NOT_USED FILE
/_posts/Bristol_Posts
assets/img/Logos so far.zip
assets/img/Logos_orig/10x_Logo_Vertical_Full Color_Digital.png
assets/img/Logos_orig/Agilent_Logo_Tag_v_RGB.jpg
assets/img/Logos_orig/Earlham-Institute-dble-stack-inc-strap-line.png
assets/img/Logos_orig/LOGO_Horizontal_Element-Biosciences-Black_RGB.ai
assets/img/Logos_orig/DTG logo_part of cb.png
assets/img/Logos_orig/Watchmaker_Logo_RGB_800px.png
assets/img/Logos_orig/Scale-Bio-Logo-Full-Color-RGB.png
assets/img/Logos_orig/LOGO_Horizontal_Element-Biosciences-Black_RGB.ai
